.progress-circle.indefinite .progress {
       stroke: blue;
       stroke-width: 2;
       stroke-dashoffset: 0;
       stroke-dasharray: 63 188;
       animation: progress-indef 2s linear infinite;
   }

.progress-circle.indefinite .bg {
    stroke: #eee;
    stroke-width: 2;
}

@keyframes progress-indef {
    0% { stroke-dashoffset: 251; }
    100% { stroke-dashoffset: 0; }
}